.lyz-icon {
  --lyz-icon-color: inherit;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  fill: currentColor;
  color: var(--lyz-icon-color);
  font-size: inherit;
}

@each $val in primary, info, success, warning, danger {
  .lyz-icon--$(val) {
    --lyz-icon-color: var(--lyz-color-$(val));
  }
}
